*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #215732;
    --color2: #b4db3f;
    --color3: #efefef;
    --color4: #211e21;
}

html {
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: var(--color1);
    font-size: 10px;
    overflow-x: hidden;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    min-height: 10vh;
    max-height: 20vh;
    padding: 0.5% 3%;
    background-color: var(--color3);
    z-index: 1000;
}

.header-img {
    width: auto;
    height: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3vw;
    font-size: 1.7rem;
}

.nav-link {
    text-decoration: none;
    color: var(--color1);
}

.nav-link:hover {
    color: var(--color2)
}

.hero {
    margin-top: 10vh;
    width: 100vw;
    height: 100vh;
}

.hero-text-container {
    padding: 10% 15%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.hero-text-container img {
    width: 40vw;
    min-width: 300px;
    max-width: 1000px;
    height: auto;
}

.hero-text-container p {
    font-size: 2rem;
    width: 37vw;
    max-width: 1000px;
    min-width: 280px;
    text-align: justify;
    margin-left: 5%;
}

.hero-text-container button {
    margin-top: 5rem;
    margin-left: 5%;
    background-color: var(--color1);
    font-size: 2rem;
    padding: 0.5rem 1rem;
    color: white; 
    border-radius: 10px;
    width: fit-content;
    border: none;
    font-weight: bold;
}

.hero-text-container button:hover {
    background-color: var(--color2);
    color: var(--color1);
}

.hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bloom-logo {
    height: 5.5rem;
    vertical-align: bottom;
    top: 2px;
    position: relative;
}

h1 {
    font-size: 4rem;
}

.features {
    padding: 15vh 15%;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.features ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    gap: 5rem;
}

.features ul li {
    list-style-type: none;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    background-color: #efefef;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 5px 10px 20px var(--color1);
}

.features ul li i {
    font-size: 5rem;
}

.pricing {
    background-color: var(--color3);
    width: 100vw;
    height: auto;
    padding: 15vh 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.pricing div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 10px 20px var(--color1);
    padding-bottom: 3rem;
}

.pricing h2 {
    font-size: 2.8rem;
    text-align: center;
    width: 100%;
    background-color: var(--color1);
    padding: 8vh;
    color: var(--color3);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.pricing ul {
    padding: 3rem 4rem;
    font-size: 1.5rem;
}

.fa-xmark {
    color: #cf0000;
}

.pricing ul li {
    list-style-type: none;
    display: flex;
    gap: 15px;
    padding: 0.5rem 0;
}

.price {
    text-align: center;
}

.per-month {
    text-align: center;
    color: #b4db3f;
}

.purchase {
    margin-top: 3rem;
    width: fit-content;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    color: var(--color1); 
    border-radius: 10px;
    border: 2px solid var(--color1);
    font-weight: bold;
}

.purchase:hover {
    background-color: var(--color1);
    color: var(--color3)
}

.form-section {
    width: 100vw;
    height: 50vh;
    /* margin-bottom: 10vh; */
    padding: 15vh 15%;
}


@media (max-width: 320px) {
    
}